.login-form-container {
  max-width: 400px;
  margin: 5rem auto;
  background: #fff;
  border-radius: .5rem;
  padding: 1rem 1rem;
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.login-form-container form label {
  font-style: bold !important;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.login-form-container form input {
  display: block;
  margin: .5rem 0;
  width: 100%;
  padding-bottom: .5rem;
}

.login-form__btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.forgot {
  cursor: pointer;
  text-align: right;
  letter-spacing: .1rem;
  text-transform: capitalize;
}

.signup {
  text-align: center;
  margin-top: 3rem;
}

.social {
  text-align: center;
  margin-top: 1rem;
}

.social-icon {
  margin: 0 .5rem;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  width: 1rem;
}

.social .social-icon:first-child {
  background: #4267B2;
  color: #fff;
}

.social .social-icon:nth-child(2) {
  background: #1DA1F2;
  color: #fff;
}

.social .social-icon:last-child {
  background: #DB4437;
  color: #fff;
}
