.charts{
    margin-left: 100px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart{
    margin-top: 2rem;
    text-align: center;
}

.bar-chart__title, 
.line-chart__title{
    margin-bottom: 1rem;
}

.linechart{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}


@media (max-width: 575.98px) { 

 }
@media (max-width: 767.98px) {
        .metric-bar{
            flex-direction: column;
        }
        .metric-bar .metric{
            margin-bottom: 2rem;
        }
        .charts{
            flex-direction: column;
            overflow-x: scroll;
        }
 }
@media (max-width: 991.98px) { 

 }
@media (max-width: 1199.98px) { 

 }
@media (max-width: 1399.98px) { 
    
 }
